

// leader-section

.active-p{
    color: $primary-color;
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

// <!-- misson-vision-values-section -->

.icon-col{
    color: $link-text-color;
    font-size: 5rem;
    margin-right: 3rem;
}

// our-team-section



    .our-team-article{
        box-shadow: 0px 0px 10px 2px rgb(229, 222, 222);
        flex: 0 1 23%;
        border-radius: 8px;
        background-color: white;
        h4{
            font-size: 2rem;
            font-weight: 600;
            margin-top: 2rem;
        }

        p{
            margin: 1rem 0;
            color: $primary-color;
            font-size: 1.2rem;
            padding-bottom: 3rem;
        }
    }


// <!-- solutions-section -->

.about-solutions-col{
    margin-bottom: 6rem;
   .about-solutions-text{
    width: 900px ;
    margin: 0 auto;
    p{
        margin: 3rem 0;
    }

    .btn{
        @include btn;
        background-color: $active-color;
        color: white;
        border: 0;
        
    }
   }
}